* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header-index {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  width: 100%;
  height: 100px; }
  .header-index div a {
    display: flex;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: auto;
    text-decoration: none;
    color: black; }
  .header-index div nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: auto; }
    .header-index div nav ul li a {
      text-decoration: none;
      display: flex;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      font-weight: 100; }
  .header-index div {
    display: flex;
    margin: auto; }
    .header-index div svg {
      margin-right: 20px; }

.nav-item {
  position: relative;
  display: none; }

.dropdown-menu a:hover {
  background: #9b9b9b;
  color: #fff; }

.texto-principal div h2 {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large; }

.galeria-grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
  gap: 30px;
  justify-content: center;
  text-align: center; }
  .galeria-grid div img {
    height: auto;
    width: 100%; }
  .galeria-grid div button {
    margin: 50px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: small;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500; }
    .galeria-grid div button:hover {
      background-color: #fffdfd;
      color: black; }

.seccion-secundaria {
  width: 100%;
  height: 500px;
  display: flex;
  background-image: url("./Assests/SALE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .seccion-secundaria a {
    text-decoration: none;
    color: white;
    background-color: #390000;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 100px 10px 100px;
    margin-top: 390px;
    text-align: center; }

.titulosale {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: large;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif; }

.galeria-sale {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: auto; }

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  height: auto;
  width: 100%;
  gap: 50px;
  padding: 10px; }
  .product-container div {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px; }
    .product-container div div {
      position: relative;
      width: 300px;
      height: 70%;
      object-fit: contain; }
      .product-container div div span {
        position: absolute;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        color: #060606;
        right: 10px;
        top: 10px; }
      .product-container div div img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .product-container div div button {
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 10px;
        padding: 10px;
        width: 90%;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0; }
        .product-container div div button:hover {
          opacity: 1;
          background: #040404;
          color: #fff; }

.product-info div {
  width: 100%;
  height: 100px;
  padding-top: 10px; }
  .product-info div h2 {
    text-transform: uppercase;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif; }
  .product-info div p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    margin: 5px 0; }
  .product-info div span {
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through; }

.form-comunidad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-content: center;
  margin: 50px; }
  .form-comunidad div {
    width: 100%; }
    .form-comunidad div img {
      grid-column: 1;
      object-fit: cover;
      width: 50%; }
  .form-comunidad div h1 {
    text-align: center; }
  .form-comunidad div form fieldset label {
    text-align: center;
    padding: 12px 20px; }
  .form-comunidad div form fieldset imput {
    padding: 12px 20px;
    margin: 8px;
    text-align: center;
    box-sizing: border-box; }

.titulo div h2 {
  text-align: center;
  margin: 50px; }

.cardshop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px; }
  .cardshop div img {
    width: 100%;
    height: 300px; }
  .cardshop div h4 {
    margin: 15px;
    font-weight: lighter; }
  .cardshop div p {
    margin: 15px;
    color: gray; }
  .cardshop div button {
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px 10px;
    font-size: small;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500; }

.head {
  display: none; }

.card {
  margin: 20px; }

.boton-blog {
  margin-bottom: 20px;
  justify-content: center;
  padding: 10px 10px;
  font-size: small;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500; }

.img img {
  width: 100%;
  height: auto; }

.titulo h2 {
  margin: 40px; }

.formcontacto {
  width: 100%;
  margin: 40px;
  display: flex; }
  .formcontacto form div label {
    margin-bottom: 20px;
    width: 100px;
    justify-content: center;
    align-content: center;
    padding: 10px 10px;
    font-size: small;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    text-align: center; }
  .formcontacto form div input {
    text-align: center;
    width: 200px;
    height: 40px;
    align-items: center; }

.textoboton {
  align-items: center;
  display: flex; }
  .textoboton p {
    justify-content: center;
    margin-top: 10px; }
  .textoboton input {
    margin-top: 10px; }

.botonescontacto input {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 10px 10px;
  font-size: small;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500; }

.mapa {
  width: 100%;
  margin: 40px; }
  .mapa h2 {
    margin-bottom: 15px; }

.nosotros div img {
  width: 50%;
  height: auto; }

.nosotros div p {
  margin: 40px; }

.py-5 {
  margin: 20px; }
  .py-5 div {
    background-color: #f2f2e9;
    padding: 20px; }
    .py-5 div form {
      height: 200px;
      width: 100%; }
      .py-5 div form p {
        font-weight: lighter;
        color: #390000; }
      .py-5 div form div button {
        justify-content: center;
        padding: 10px 10px;
        font-size: small;
        background-color: #000000;
        color: #fff;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-weight: 500; }
  .py-5 div ul li a {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-decoration: none; }

@media screen and (max-width: 992px) {
  .header-index {
    width: 100%; }
    .header-index div nav {
      display: none; }
    .header-index div svg {
      height: 30px;
      gap: 2px; }
  .navbarnews {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
    font-weight: lighter; }
  .nav-item {
    display: flex;
    font-size: 20px;
    text-decoration: none; }
  .galeria-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 50px;
    margin-bottom: 150px; }
    .galeria-grid div {
      margin: auto;
      margin-bottom: 20px; }
      .galeria-grid div button {
        margin: auto;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 8px 20px; } }
