@media screen and (max-width: 992px){
.header-index{
    width: 100%;
    div{
        nav{
            display: none;
        }
    }
    div{
        svg{
            height: 30px;
            gap: 2px;
        }
    }
}

.navbarnews{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
    font-weight: lighter;
}
.nav-item{
    display: flex;
    font-size: 20px;
    text-decoration: none;
}

.texto-principal{
    div{
        h2{
            font-size: 25px;
        }
    }
}

.galeria-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px;
        gap: 100px;
        margin-bottom: 150px;
        div {
            margin: auto;
            margin-bottom: 20px;
            a{
                button {
                margin: auto;
                position: relative;
                margin-top: 20px;
                padding: 8px 20px;       
                }
            }
        }
}

.seccion-secundaria{
    width: 100%;
    height: 400px;
    a{
        padding: 10px 50px 10px 50px;
        margin-bottom: 100px;
    }
}

.quienessomos{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 400px 200px;
    gap: 10px;
    justify-content: center;
        div{
            p{
                margin-top: 10px;
            }
            button{
            margin-left: 120px;
        }   
        }
}
}
