@media screen and (max-width: 992px){
.header-index{
    width: 100%;
    div{
        nav{
            display: none;
        }
    }
    div{
        svg{
            height: 30px;
            gap: 2px;
        }
    }
}

.navbarnews{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: xx-small;
    font-weight: lighter;
}
.nav-item{
    display: flex;
    font-size: 20px;
    text-decoration: none;
}

.galeria-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px;
        gap: 50px;
        margin-bottom: 150px;
        div {
            margin: auto;
            margin-bottom: 20px;
            button {
                margin: auto;
                position: relative;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 8px 20px;       
            }
        }
}

}