@media screen and (max-width: 576px){

.container-fluid{
    p{
    font-size: small;
    }
}
.header-index{
    width: 100%;
    div{
        a{
            font-size: medium;
        }
    }
    div{
        nav{
            display: none;
        }
    }
    div{
        svg{
            height: 30px;
            gap: 2px;
        }
    }
}

.container-fluid{
    p{
        font-size: 8px;
        font-weight: lighter;
    } 
}

.nav-item1{
    display: flex;
    font-size: 20px;
}

.texto-principal{
    div{
        h2{
            font-size: 22px;
            margin: 10px;
        }
    }
}

.galeria-grid {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 400px 400px 400px;
        gap: 100px;
        margin-bottom: 150px;
        div {
            margin: auto;
            margin-bottom: 20px;
            a{
                button {
                margin: auto;
                position: relative;
                margin-top: 20px;
                padding: 8px 20px;       
                }
            }
        }
}

.seccion-secundaria{
    width: 100%;
    height: 400px;
    a{
        padding: 10px 50px 10px 50px;
        margin-bottom: 100px;
    }
}

.quienessomos{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 200px 200px;
    gap: 10px;
        div{
            img{
                width: 100%;
                height: 100%;
            }
            p{
                margin-top: 5px;
                font-size: 20px;
                margin-left: 50px;
            }
            button{
            font-size: medium;
            margin-left: 85px;
        }   
}
}

.cierre{
    width: 100%;
}
}

.mapa{
    display: none;
    margin: 40px;
    h2{
        margin-bottom: 15px;
    }
}

.nosotrosceibo{
    div{
        img{ 
            width: 50%;
            margin-left: 99px;
        }
        p{
            margin-left: 60px;
            margin-top: 20px;
            font-size: small;
        }
    }
}

